<div id="popUpOuterBox">
    
    <div id="popUpInnerBox">
    
        <div class="header">Not enough activity</div>
        
        <div class="content">
            
                <img src="./view/images/nothing_to_show.png" style="margin-top: 20px; margin-bottom: 25px;" /><br />
                <span style="font-weight: bold; color: #3B5998">
                    Sorry, your profile has not enough activity to construct questions.
                </span>               
            
        </div>
        
        <div class="footer">
            
            <div class="okButton">OK</div>
            
        </div>
    </div>
    
</div>